@font-face {
    font-family: Helvetica;
    src: url(HelveticaNowText-Medium.ttf);
}

@media print {
    .space, button, footer {
        display: none !important;
    }

    h5 {
        display: block !important;
    }

    span {
        color: black !important;
    }

    #instructions {
        display: block;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: large;
}

div {
    color: white;
}

#question {
    color: #FDE0C1 !important;
    font-size: x-large;
}

body {
    background-color: #181A1F !important;
}

.start {
    margin: 20px;
    width: 200px;
    height: 50px;
}

#start-easy {
    background-color: lightgreen;
}

#start-medium {
    background-color: darkorange;
}

#start-hard {
    background-color: indianred;
}

.container {
    width: 90%;
    max-width: 37.5em;
    padding: 1.2em 0.8em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
}

.space{
    height: 100%;
}

#bg-img{
    background-color: #181A1F;
}

h3 {
    text-align: center;
    width: 60%;
    margin: 0 auto 2em auto;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.8em;
    color: #010c39;
}

.draggable-objects,
.drop-points {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.draggable-image {
    width: 8em;
    cursor: move;
}

img {
    width: 8em;
    filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}

.answer {
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 20px;
    border: white 3px dashed;
    background-color: rgba(1,1,1,0) !important;
    z-index: 111;
    align-content: space-between;
    align-items: start;
}

.answer.dropped{
    border-style: solid;
    background-color: #FDFDFD !important;
}


.answer.droppable-hover{
    border-width: 5px;
    transform: scale(1.05);
}

#answer-area{
    z-index: 100;
    height: 50%;

}

#help {
    width: 30px;
}

#joker {
    background-color: #F79D54;
    border-radius: 20px !important;
    border: 0;
    padding: 0.15rem 0.3rem;
    margin-top: 0.3rem;
}

.info-text{
    font-size: medium;
    color: #46484D;
    margin-top: -0.3rem;
}

.option {
    margin: 2.5%;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    /*margin: 10px;*/
    height: 15%;
    cursor: move;
    z-index: 1;
    color: #12161C;
}

.custom-col-6{
    flex: 0 0 50%;
    max-width: 45%;
    background-size: cover;
    background-color: #FDFDFD;
}

.dropped {
    padding: 0;
    background-color: #e5ffc8;
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #5372ef;
    flex-direction: column;
    top: 0;
}

.controls-container button {
    font-size: 1.12em;
    border-radius: 3.2em;
    border: none;
    outline: none;
    color: #010c39;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.controls-container p {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.next-button{
    background-color: #F79D54;
    border-radius: 20px !important;
    border: 0;
    width: 40%;
    height: 20%;
    color: white;
}

html,
body{
    height: 100%;
}

.progress-bar {
    height: 20px;
    background-color: #F79D54 !important;
    border-radius: 20px;
}

.h-10{
    height: 10%;
}

.h-20{
    height: 20%;
}

.h-30{
    height: 30%;
}

.h-40{
    height: 40%;
}