@font-face {
    font-family: Helvetica;
    src: url(HelveticaNowText-Medium.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: large;
}

div {
    color: white;
}
#question {
    color: white !important;
}

body {
    background-color: #40479A !important;
}
.container {
    width: 90%;
    max-width: 37.5em;
    background-color: #40479A;
    padding: 3em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /*border-radius: 0.8em;*/
    display: block;
}
h3 {
    text-align: center;
    width: 60%;
    margin: 0 auto 2em auto;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.8em;
    color: #010c39;
}
.draggable-objects,
.drop-points {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}
.draggable-image {
    width: 8em;
    cursor: move;
}
img {
    width: 8em;
    filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}

.answer {
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 20px;
    z-index: 111;
}

#answer-area{
    z-index: 100;
    height: 50%;

}

.option {
    margin: 2.5%;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    /*margin: 10px;*/
    height: 15%;
    cursor: move;
    z-index: 1;
    color: #12161C;
}

.custom-col-6{
    flex: 0 0 50%;
    max-width: 45%;
    background-color: #FDFDFD;
}

.dropped {
    padding: 0;
    background-color: #e5ffc8;
}
.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #5372ef;
    flex-direction: column;
    top: 0;
}
.controls-container button {
    font-size: 1.12em;
    padding: 0.8em 1em;
    border-radius: 0.2em;
    border: none;
    outline: none;
    color: #010c39;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.controls-container p {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 1em;
}
.hide {
    display: none;
}

.next-button{
    background-color: #F79D54;
    border-radius: 20px !important;
    border: 0;
    width: 40%;
    height: 20%;
}

html,
body{
    height: 100%;
}

.progress-bar {
    height: 20px;
    /*background-color: #ddd;*/
    background-color: #F79D54 !important;
    border-radius: 20px;
}

.h-10{
    height: 10%;
}
.h-20{
    height: 20%;
}
.h-30{
    height: 30%;
}
.h-40{
    height: 40%;
}